<div class="students index">
  <h2>Students</h2>

  <%= link_to("Add New Student", new_student_path, :class => 'action new') %>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>#</th>
      <th>Student Name</th>
      <th>Student Number</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>

    <% @students.each do |student| %>
    <tr>
      <td><%= link_to "Download Profile Picture", student.profile_pic_url %></td>
      <td><%= student.id %></td>
      <td><%= student.first_name + " " + student.last_name %></td>
      <td><%= student.student_number %></td>
      <td><%= student.email %></td>
      <td class="actions">
        <%= link_to("Show", student_path(student), :class => 'action show') %>
        <%= link_to("Edit", edit_student_path(student), :class => 'action edit') %>
        <%= link_to("Delete", delete_student_path(student), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
