<%= link_to("<< Back to List", students_path, :class => 'back-link') %>

<div class="students new">
  <h2>Create Subject</h2>

  <%= form_for(@student, :url => students_path, :method => 'post') do |f| %>

  <table summary="Student form fields">
    <tr>
      <th>First Name</th>
      <td><%= f.text_field(:first_name) %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= f.text_field(:last_name) %></td>
    </tr>
    <tr>
      <th>Student Number</th>
      <td><%= f.text_field(:student_number) %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= f.text_field(:email) %></td>
    </tr>
  </table>

  <div class="form-buttons">
    <%= f.submit("Create Student") %>
  </div>

  <% end %>
</div>
