<%= link_to("Home", admin_path, class: "btn btn-success") %>
<%= link_to("New Thesis", new_thesis_path, class: "btn btn-primary") %>
<br />
<br />

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Download link</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @student.theses.each do |thesis| %>
    <tr>
      <td><%= thesis.title %></td>
      <td><%= link_to("Download thesis", thesis.attachment_url) %></td>
      <td align="center"> <%= button_to("Edit", edit_thesis_path(thesis), method: :get, class: "btn btn-primary") %></td>
      <td align="center"><%= button_to("Delete", thesis, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{thesis.title}?") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
