<h1>This is collaborations!</h1><br />
<%= link_to("<< Admin", admin_path, :class => "btn btn-success") %>
<%= link_to("Add a collaboration", new_collaboration_path, :class => "btn btn-primary") %>
<%= link_to("Join a collaboration", collaboration_joins_path, :class => "btn btn-info") %>
<br /><br />
<table class="table table-bordered table-striped">
  <thead>
    <th>#</th>
    <th>Team Name</th>
    <th>Purpose</th>
    <th>Member Limit</th>
    <th>Members</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @collaborations.each do |collaboration| %>
      <tr>
        <td><%= collaboration.id %></td>
        <td><%= collaboration.team_name %></td>
        <td><%= collaboration.purpose %></td>
        <td><%= collaboration.member_limit %></td>
        <td>
          <% collaboration.students.each do |s| %>
            <%= s.first_name + " " + s.last_name %>
          <% end %>
        </td>
        <td>
          <div align="center">
            <%= link_to("Show", collaboration_path(collaboration), :class => 'btn btn-success btn-sm') %>
            <%= link_to("Edit", edit_collaboration_path(collaboration), :class => 'btn btn-primary btn-sm') %>
            <%= link_to("Delete", delete_collaboration_path(collaboration), :class => 'btn btn-danger btn-sm') %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
