<h1>Let's draft a new collaboration!</h1><br />
<%= link_to("<< Collaborations", collaborations_path, class: "btn btn-success") %><br /><br />
<div class="well">
  <table class="table table-bordered table-striped">
    <%= form_for(@collaboration, :method => 'post') do |f| %>
  	<tr>
  		<th><%= f.label :team_name %></th>
  		<td><%= f.text_field :team_name %></td>
  	</tr>
  	<tr>
  		<th><%= f.label :purpose %></th>
  		<td><%= f.text_field :purpose %></td>
    </tr>
    <tr>
      <th><%= f.label :member_limit %></th>
      <td><%= f.text_field :member_limit %></td>
    </tr>
  </table>
  <%= f.submit("Create Thesis", class: "btn btn-primary") %>
  <% end %>
</div>
