<!DOCTYPE html>
<html>
  <head>
    <title>DraftupCms</title>
    <%= favicon_link_tag("logosample.ico") %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if !flash[:notice].blank? %>
  		<div class="alert alert-info">
  			<%= flash[:notice] %>
  		</div>
		<% end %>

    <nav class="navbar navbar-light bg-faded">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <ul class="inlineList" >
          <li class="nav-item active" display="inline">
            <%= image_tag('logosample.ico', :size => '50x50', :alt => 'draftUP logo') %>
          </li>
          <li class="nav-item active" display="inline">
            <%= link_to("Home", admin_path, :class => "nav-link") %>
            <!-- <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a> -->
          </li>
          <li class="nav-item" display="inline">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item" display="inline">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item" display="inline">
            <%= link_to("About us", pages_about_path, :class => "nav-link") %>
          </li>
          <li class="nav-item" display="inline">
            <form class="form-inline pull-xs-right">
              <input class="form-control" type="text" placeholder="Search">
              <button class="btn btn-success-outline" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <%= yield %>
        </div>
        <div class="col-sm-2">
          <h2>TODO: Create Sidebar</h2>
          <p>Allow navigation to different parts of the user's account</p>
          <p>
            <% if @student %>
              <p>You are logged in as:
              <%= @student.first_name + " " + @student.last_name %>
              </p>
            <% else %>
              <p>You are not logged in</p>
            <% end %>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
